<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRgzbe0QwpD_VRbezeW5Dy653FZAyxsTxmsw&usqp=CAU"
            alt=""
            height="200px"
            srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Barbie ganha data de lançamento</a></h1>
    </div>

    <div class="big-card__description">
        <p><a href="#">Filme da Barbie ganha data de lançamento para o dia 20 de julho</a></p>

    </div>
</div>
