
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRgzbe0QwpD_VRbezeW5Dy653FZAyxsTxmsw&usqp=CAU"
            cardTitle="Novo filme da Barbie é anunciado"
            cardDescription="Foi anunciado um novo filme da Barbia pela diretora baba"
            >
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card 
            id="2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxUlVh-CnhWAI08-5Pz_d3Uj6_HPPwD_pmVw&usqp=CAU" 
            cardTitle="Oppenheimer ganha novo trailer">
        </app-small-card>

        <app-small-card 
            id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxUlVh-CnhWAI08-5Pz_d3Uj6_HPPwD_pmVw&usqp=CAU" 
            cardTitle="Oppenheimer ganha novo trailer(2)">
        </app-small-card>

        <app-small-card 
            id="4"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxUlVh-CnhWAI08-5Pz_d3Uj6_HPPwD_pmVw&usqp=CAU" 
            cardTitle="Oppenheimer ganha novo trailer(3)">
        </app-small-card>
         
    </div>

</div>
